main
  section 
    header 
      if name
        h2= name
      else 
        h2= collection
    div
      dashkite-collection-detail(
        data-db = db
        data-collection = collection
      )
