main
  .block(class = "collection vertical")
    section
      header 
        h2 Overview
      .main 
        dashkite-db-utils( data-db = db, data-email = email )
        dashkite-collections-view( data-db = db, data-workspace = workspace )
