main
  header 
    h3 Collections
      nav
        a(href=`/workspaces/${workspace}/db/${db}/collections/add`)
          i(class = "fal fa-plus fa-1x")
          | Create A Collection
  div
    for collection of collections
      dashkite-collections-summary(
        data-db = db
        data-collection = collection
      )
