main
  header
    h3 Entries
    p
      :markdown
        This is the stuff in your collection. 
        [Learn more.](https://docs.dashkite.com/db/entries/)

  div
    table
      thead
        tr Entries
      tbody
        td
          p= keys.length
