main
  .block(class="table")
    section 
      table
        thead 
          tr
            th Lookup
            th Sort
        tbody 
          tr 
            td 
              p=key
            td 
              p=sort